<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (13.2)</string>
	<string>M14.2-7041.0.109-4</string>
	<string>G-r1420-1EB2630</string>
	<string>G-r1420-14D73</string>
</array>
</plist>
